Abg==2.3.1
pymongo
motor
requests
dnspython
tgcrypto
heroku3
asyncio
python-dotenv
lexica-api
deep-translator
pycgi
apscheduler
Flask
uvloop
psutil
langdetect
MukeshAPI
speedtest-cli
aiohttp
gitpython
git+https://github.com/badmunda98/BadAPI@main
git+https://github.com/badmunda98/Pyroi@Bad
git+https://github.com/badmunda98/PyroB@dev
